{% extends "base.html" %}
{% block title %}Заявка на проведение проверки другим факультетом{% endblock %}

{% block content %}
<h1 class="h1">Заявка на проведение проверки другим факультетом</h1>

<form method="post" class="form">

    <div class="form-row">
        <label class="form-label">Учебная группа:</label>
        <div class="select full-width">
            <select name="group" required>
                <option value="">Выберите группу</option>
                {% for g in groups %}
                <option value="{{ g.id }}">{{ g.name }}</option>
                {% endfor %}
            </select>
            <span class="caret">▾</span>
        </div>
    </div>

    <div class="form-row">
        <label class="form-label">Дисциплина:</label>
        <div class="select full-width">
            <select name="discipline" required>
                <option value="">Выберите дисциплину</option>
                {% for d in disciplines %}
                <option value="{{ d.id }}">{{ d.name }}</option>
                {% endfor %}
            </select>
            <span class="caret">▾</span>
        </div>
    </div>

    <div class="form-row">
        <label class="form-label">Факультет-исполнитель:</label>
        <div class="select full-width">
            <select name="executor_subdivision" required>
                <option value="">Выберите подразделение</option>
                {% for s in subdivisions %}
                <option value="{{ s.id }}">{{ s.name }}</option>
                {% endfor %}
            </select>
            <span class="caret">▾</span>
        </div>
    </div>

    <div class="form-row">
        <label class="form-label">Комментарий (необязательно):</label>
        <textarea name="comment" class="textarea"></textarea>
    </div>

    <div class="action">
        <button class="btn" type="submit">Отправить заявку</button>
    </div>

</form>
{% endblock %}
